/* Глобальні стилі */

:root {
  --active-link-color: #2196f3;
  --active-btn-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --header-border-color: #ececec;
  --item-border-color: #eeeeee;
  --white-color: #ffffff;
  --black-color: #000000;
  --auto-line-height: 1.2;
  --small-text-size: 14px;
  --medium-text-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/* Головна сторінка */
/* Хедер */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--auto-line-height);
  color: var(--black-color);
  text-decoration: none;
}

.logo-web {
  color: var(--active-link-color);
}

.list {
  list-style: none;
}

.menu-item-link,
.contact-item-link {
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: var(--auto-line-height);
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}

.contact-item-link {
  color: var(--secondary-text-color);
}

.active-link,
.menu-item-link:hover,
.menu-item-link:focus,
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--active-link-color);
}

/* Секція Hero */

/* тут буде картинка, поки колір для відображення тексту */
.hero {
  background-color: var(--bg-dark-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-btn-color);
}

/* Особливості роботи */

.section-title {
  font-size: 36px;
  line-height: var(--auto-line-height);
  text-align: center;
}

.features-item-title {
  font-size: var(--small-text-size);
  line-height: var(--auto-line-height);
  text-transform: uppercase;
}

.features-item-text {
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Чим ми займаємося */
/* поки немає стилів */

/* Наша команда */

.team {
  background-color: var(--bg-light-color);
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title,
.team-item-text {
  font-size: var(--medium-text-size);
  line-height: var(--auto-line-height);
  text-align: center;
}

.team-item-title {
  font-weight: 500;
}

.team-item-text {
  color: var(--secondary-text-color);
}

/* Футер */

.footer {
  background-color: var(--bg-dark-color);
}

.logo-studio {
  color: var(--white-color);
}

.address-item-link {
  font-style: normal;
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.address-item-link.contact,
.address-item-link.contact {
  color: rgba(255, 255, 255, 0.6);
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--active-link-color);
}

/* Сторінка портфоліо */

.filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--medium-text-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  background-color: var(--bg-light-color);
  border: none;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item {
  border: 1px solid var(--item-border-color);
}

.portfolio-list-link {
  color: inherit;
  text-decoration: none;
}

.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-text {
  font-size: var(--medium-text-size);
  line-height: 1.88;
  color: var(--secondary-text-color);
}
